<%= render 'list', user: @user, book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>
  <div>

    <%= link_to user_path(@user.id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>

    <p><%= book.title %></p>
    <p>Opinion<%= book.body %></p>
    <p><%= book.user.name %></p>

  </div>


<% end %>