<h1>Books detail</h1>

<p><%= @book.title %></p>

<p><%= @book.body %></p>

<%#画像 %>
<% if @book.image.attached? %>
    <%= image_tag @book.image, size: "300x300" %>
<% else %>
    <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>